<%- include('partials/header') %>

<div class="container">
    <div class="row mb-5">
        <div class="col-12">
            <h1 class="mb-4">Contact Us</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="mb-4">Get in Touch</h3>
                    <p class="lead mb-4">We'd love to hear from you. Send us a message and we'll respond as soon as possible.</p>
                    
                    <div class="mb-4">
                        <h5><i class="bi bi-geo-alt-fill text-primary me-2"></i>Address</h5>
                        <p>Chandrapuram East, 45,<br>
                        Tiruppur, Chitra Garden,<br>
                        Tirupur, Tamil Nadu</p>
                    </div>

                    <div class="mb-4">
                        <h5><i class="bi bi-telephone-fill text-primary me-2"></i>Phone</h5>
                        <p> +91 98432 43366</p>
                    </div>

                    <div class="mb-4">
                        <h5><i class="bi bi-envelope-fill text-primary me-2"></i>Email</h5>
                        <p>sreeanjaneya@sify.com</p>
                    </div>

                    <div class="mb-4">
                        <h5><i class="bi bi-clock-fill text-primary me-2"></i>Business Hours</h5>
                        <p>Monday - Friday: 9:00 AM - 6:00 PM<br>
                        Saturday: 10:00 AM - 4:00 PM<br>
                        Sunday: Closed</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="mb-4">Find Us on Map</h3>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe 
                            src="https://www.google.com/maps?q=Chandrapuram%20East%2C%2045%2C%20Tiruppur%2C%20Chitra%20Garden%2C%20Tirupur%2C%20Tamil%20Nadu&output=embed" 
                            width="100%" 
                            height="450" 
                            style="border:0;" 
                            allowfullscreen="" 
                            loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade"
                            class="embed-responsive-item">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="card bg-primary text-white text-center">
                <div class="card-body py-4">
                    <h4>Ready to Start Your Order?</h4>
                    <p class="mb-3">Submit an inquiry or request a sample to get started.</p>
                    <a href="/inquiry" class="btn btn-light me-2">Submit Inquiry</a>
                    <a href="/samples/request" class="btn btn-outline-light">Request Sample</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>

